 {% extends 'main.html' %}
    <!-- Checkout Start -->
    {% block content%}
    
   
    <div class="container-fluid pt-5">
       
        <div class="row px-xl-5 justify-content-between">
           
            <div class="col-lg-6">
               
                 <!-- order detail ends here -->
                 <!-- <form action="" method="POST">
                    {% csrf_token %}
                 <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>User Name</label>
                            <input class="form-control" type="text" placeholder="User name"   name="user_name"  value="{{context.cust_detail.user_name}}"required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com"   name="email"  value="{{user.email}}"required >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789"   name="phone_number"  value="{{context.cust_detail.phone_number}}"required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>House Name</label>
                            <input class="form-control" type="text" placeholder="123 Street"   name="house_name"  value="{{context.address.house_name}}"required>
                        </div>
                        <div class="col-md-6 form-group">

                            <label>Street</label>
                            <input class="form-control" type="text" placeholder="123 Street"   name="street"  value="{{context.address.street}}"required>
                        </div>
                        <div class="col-md-6 form-group">

                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York"   name="city"  value="{{context.address.city}}"required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input class="form-control" type="text" placeholder="New York"   name="district"  value="{{context.address.district}}"required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York"  name="state"  value="{{context.address.state}}" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>pin Code</label>
                            <input class="form-control" type="text" placeholder="123" name="pin_code"  value="{{context.address.postal_code}}"required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input class="form-control" type="text" placeholder="New York" name="country" value="{{context.address.country}}" required>

                        </div>
                        {% if context.cart.applied_coupon %}
                        
                            <input class="form-control" type="hidden" name="amount" value="{{context.cart.coupon_cart_total}}"required >
                         {% else %}
                         <input class="form-control" type="hidden" name="amount" value="{{context.cart.cart_total}}" >
                       {% endif %}
                        <div class="card-footer border-secondary bg-transparent">
                            <a href="{% url 'addressdisplay' %}"  class="btn btn-sm btn-block btn-primary  my-3 py-3">Edit or Change Address</a>
                        </div> -->
                <!-- order detail ends here -->
                 <!-- order detail table starts here -->
                 <div class="card-body">
                 <div class="card border-secondary mb-5 ">
                    <div class="card-header bg-secondary border-0 ">
                        <h4 class="font-weight-semi-bold m-0 text-center">Order Total</h4>
                    </div>
                    
                        <table class="table table-bordered text-center mb-0">
                            <thead class="bg-secondary text-dark">
                                <tr>
                                    <th>Products</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Price</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                            
                                {% for items in context.cart_items %}   
                                <tr>
                                    <td class="text-start" >{{items.product_variant.prod_id.pr_name}}</td>
                                    <td class="align-middle">{{items.quantity}}</td>
                                    <td class="align-middle">{{items.product_variant.size}}</td>
                                    <td class="align-middle">{{items.product_variant.color}}</td>
                                    <td class="align-middle" >{{items.item_total_price}}</td>
                                </tr> {% endfor %}
                                </table> 

                        </table>
                        <hr class="mt-0">
                    {% if context.cart%}
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹{{context.cart.total_price}}</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tax</h6>
                            <h6 class="font-weight-medium">₹{{context.cart.tax}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹{{context.cart.shipping}}</h6>
                        </div>
                        {% if context.cart.applied_coupon %}
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Discount</h6>
                            {% if context.cart.applied_coupon.discount_amount %}
                            <h6 class="font-weight-medium text-danger">- ₹{{context.cart.applied_coupon.discount_amount}}</h6>
                        {% else %} 
                        <h6 class="font-weight-medium text-danger">- {{context.cart.applied_coupon.discount_percentage}}%</h6>
                        {% endif %}
                    
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h6 class="font-weight-medium"><s>{{context.cart.cart_total}}</s></h6>
                            <h5 class="font-weight-bold text-danger">{{context.cart.coupon_cart_total}}</h5>
                        </div>
                    </div>{% else %}
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{context.cart.cart_total}}</h5>
                        </div>
                    </div>{% endif %}
                </div> </div>



                {% else %}
                <div class="d-flex justify-content-between mb-3 pt-1">
                    <h6 class="font-weight-medium">Subtotal</h6>
                    <h6 class="font-weight-medium">₹{{context.order.order_total}}</h6>
                </div>
                <div class="d-flex justify-content-between mb-3 pt-1">
                    <h6 class="font-weight-medium">Tax</h6>
                    <h6 class="font-weight-medium">₹{{context.order.tax|floatformat:2}}</h6>
                </div>
                {% if context.order.applied_coupon %}
                <div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">Discount</h6>
                    {% if context.order.applied_coupon.discount_amount %}
                    <h6 class="font-weight-medium text-danger">- ₹{{context.cart.applied_coupon.discount_amount}}</h6>
                {% else %} 
                <h6 class="font-weight-medium text-danger">- {{context.cart.applied_coupon.discount_percentage}}%</h6>
                {% endif %}
            
            </div>
            <div class="card-footer border-secondary bg-transparent">
                <div class="d-flex justify-content-between mt-2">
                    <h5 class="font-weight-bold">Total</h5>
                    <h6 class="font-weight-medium"><s>{{context.order.order_total}}</s></h6>
                    <h5 class="font-weight-bold text-danger">{{context.order.discount_grand_total}}</h5>
                </div>
            </div>{% else %}
            <div class="card-footer border-secondary bg-transparent">
                <div class="d-flex justify-content-between mt-2">
                    <h5 class="font-weight-bold">Total:</h5>
                    <h5 class="font-weight-bold">{{context.order.grand_total}}</h5>
                </div>
            </div>{% endif %}
        </div> </div>
                {% endif %}





                  <!-- order detail table ends here -->
                
            <!-- </div></div>
                 </form> -->
        </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">

                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Delivery Address</h4>
                    </div>
                    {% if not context.address %}
                    <div class="card-footer border-secondary bg-transparent">
                        <a href="{% url 'addressdisplay' %}"  class="btn btn-sm btn-block btn-primary  my-3 py-3">Add Address</a>
                    </div>
                       
                        <!-- <div class="form-check">
                            <input class="form-check-input  default-address" type="radio" name="defaultAddress" value="{{ address.id }}" id="defaultAddress{{ address.id }} {% if address.is_default %} checked {% endif %}" >
                            <label class="form-check-label" for="defaultAddress{{ address.id }}">
                                Set as Default
                            </label>
                    </div> -->
                    {% else %}
                    <div class="card-body ">
                        <h5 class="card-title text-center text-capitalize">{{context.address.house_name}}</h5>
                        <p class="card-text text-center text-capitalize">{{context.address.street}},{{context.address.city}},{{context.address.postal_code}}</p>
                        <p class="card-text text-center text-capitalize">{{context.address.district}},{{context.address.state}},{{context.address.country}}</p>
                        
                    <div class="card-footer border-secondary bg-transparent">
                        <a href="{% url 'addressdisplay' %}"  class="btn btn-sm btn-block btn-primary  my-3 py-3">Edit or Change Address</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card border-secondary mb-5">
                <form action="{% url 'place_order' %}" method="POST">
                    {% csrf_token %}
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="col-md-6 form-group" >
                    <input class="form-control" type="hidden" placeholder="User name"   name="cartid"  value="{{context.cart.id}}"required>
                    <input class="form-control" type="hidden" placeholder="User name"   name="user_name"  value="{{context.cust_detail.user_name}}"required>
                </div>
                <div class="col-md-6 form-group">
               
                    <input class="form-control" type="hidden" placeholder="example@email.com"   name="email"  value="{{user.email}}"required >
                </div>
                <div class="col-md-6 form-group">
                   
                    <input class="form-control" type="hidden" placeholder="+123 456 789"   name="phone_number"  value="{{context.cust_detail.phone_number}}"required>
                </div>
                <!-- Hidden input field -->
                <input type="hidden" id="paymentMode" name="payment_mode">
                <div class="card-body">
                   
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">COD</label>
                        </div>  </div>

                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Wallet</label>
                            </div>  </div>

                        <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Pay with razorpay</label>
                        </div>
                    </div>
                    {% if context.cart %}
                    {% if context.cart.applied_coupon %}
                
                    <input type="hidden" class="custom-control-input" name="amount" value="{{context.cart.coupon_cart_total}}" >
                    {% else %}
                    <input type="hidden" class="custom-control-input" name="amount" value="{{context.cart.cart_total}}" >
               {% endif %}
               {% else %}
               {% if context.order.applied_coupon %}
                
                    <input type="hidden" class="custom-control-input" name="amount" value="{{context.order.discount_grand_total}}" >
                    {% else %}
                    <input type="hidden" class="custom-control-input" name="amount" value="{{context.order.gran_total}}" >
                    {% endif %} {% endif %}
               
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button type="submit" id="place-order-btn" href="{% url 'place_order'%}" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" style="display: none;">Place Order</button>
                </div>
               
                <div class="card-footer border-secondary bg-transparent">
                <button type="button" id="pay-btn" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 payWithRazorpay" style="display: none;">Pay Now</button>
            </div></form></div>
                
            </div>
            
        </div>
    </div>
    <!-- Checkout End -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var codRadio = document.getElementById('directcheck');
            var razorpayRadio = document.getElementById('banktransfer');
            var walletpayRadio = document.getElementById('paypal');
            var placeOrderButton = document.getElementById('place-order-btn');
            var payNowButton = document.getElementById('pay-btn');
            var paymentmode=document.getElementById('paymentMode')
            // Function to handle radio button change event
            function handlePaymentMethodChange() {
                if (codRadio.checked) {
                    // If COD is selected, show Place Order button and hide Pay Now button
                    console.log("radio button clicked")
                    placeOrderButton.style.display = 'block';
                    payNowButton.style.display = 'none';
                    paymentmode.value = "cod";
                    console.log(paymentmode.value,"this is the value")
                } else if (razorpayRadio.checked) {
                    // If Razorpay is selected, show Pay Now button and hide Place Order button
                    console.log("radio button clicked")
                    placeOrderButton.style.display = 'none';
                    payNowButton.style.display = 'block';
                    paymentmode.value = "razorpay";
                    console.log(paymentmode.value,"this is the value")
                }
                else if (walletpayRadio.checked) {
                    // If Razorpay is selected, show Pay Now button and hide Place Order button
                    console.log("radio button clicked")
                    placeOrderButton.style.display = 'block';
                    payNowButton.style.display = 'none';
                    paymentmode.value = "wallet";
                    console.log(paymentmode.value,"this is the value") 
            }}
    
            // Listen for changes in the radio buttons
            codRadio.addEventListener('change', handlePaymentMethodChange);
            razorpayRadio.addEventListener('change', handlePaymentMethodChange);
            walletpayRadio.addEventListener('change', handlePaymentMethodChange);
    
            // Initially hide the buttons based on the default selection
            handlePaymentMethodChange();
        });
    </script>
    
    {% block mainscript %}  
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    
    {% endblock mainscript %}
   
    <!-- <form action="" method="POST">
        <input type="hidden" name="order_id" value="{{ order_id }}"> -->
 <!-- <script>
       var options = {
           "key": "{{ rzp_test_ZCCSyrCe5ZqrEH }}",
           "amount": "{{ amount }}",
           "currency": "INR",
           "name": "MARLUX",
           "description": "Payment Description",
           "order_id": "{{ order_id }}",
           "handler": function(response) {
               // Handle the payment success response
               // You can submit the form or redirect to a success page
               document.forms[0].submit();
           },
           "prefill": {
               "name": "{{context.user_name}}",
               "email": "{{request.user.email}}",
               "contact": "+91" + "{{context.phone_number}}"
           },
          

           "theme": {
            "color": "#3399cc"
        }
       };
       var rzp1 = new Razorpay(options);
       
       rzp1.on('payment.failed', function (response){
               alert(response.error.code);
               alert(response.error.description);
               alert(response.error.source);
               alert(response.error.step);
               alert(response.error.reason);
               alert(response.error.metadata.order_id);
               alert(response.error.metadata.payment_id);
       });
       if (payNowButton.style.display !== 'none') {
        payNowButton.addEventListener('click', function(e) {
        console.log("pay button clicked")
           rzp1.open();
           e.preventDefault();
       }); }
   </script> -->
<!-- </form> -->
{% endblock content %}