{% extends 'base.html' %}
{% block title %}Login Page{% endblock title%}
{% block content %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages%}
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %}
</div>
{% endif %}
<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
    <div class="inner">
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <h3>Forgot Password</h3>
           
            <div class="form-wrapper">
                <label for=""> Enter your registered Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
          
           
            <button type="submit">Send OTP</button>
          
        </form>
    </div>
</div>
{% endblock content %}
