{% extends 'passwordbase.html' %}
{% block passwordtitle %}Forgot password{% endblock passwordtitle %}
{% block password %}

<div class="container-fluid">
    <div class="row">
        <h3>Forgot Password</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="{% url 'forgot_password' %}" class="centered-form col-12" method="post">
                {% csrf_token %}
                <label class="form-label" for="email">Email:</label><br>
                <input class="form-control" type="email" id="email" name="email" required><br>
                <a class="btn btn-primary" type="submit">Reset Password</a>
            </form>
        </div>
    </div>
</div>

    
    {% endblock password %}
