{% extends 'base.html' %}
{% block title %}OTP Verification{% endblock title%}
{% block content %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages%}
    <strong>ERROR:</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %}
</div>
{% endif %}
<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
    <div class="inner">
        <form action="{% url 'otp' %}" method="POST">
            {% csrf_token %}
            <h3>OTP VERIFICATION</h3>
           
            <div class="form-wrapper">
                <label for="otp">Enter your OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
                <input type="hidden" class="form-control"  name="email" value="{{ email }}">
                <input type="hidden" class="form-control"  name="user_name" value="{{ user_name }}">
                <input type="hidden" class="form-control"  name="phone_number" value="{{ phone_number}}">
             
            </div>
            
            <button type="submit">Continue</button>
        </form>
    </div>
</div>
{% endblock content %}