{% extends 'profilebase.html' %}

{% block profilehead %} 
<h2>Reset Password</h2>{% endblock profilehead %} 
{% block form %}
<style>
    #addressFormWrapper {
        display: none; /* Hide the form by default */
        position: fixed; /* Fixed position to overlay */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999; /* Ensure the form appears above other content */
        background-color: white;
        padding: 20px;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        outline:none;
        border: none;
    }
   
</style>
{% if messages %}

    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif message.tags == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
{% endif %}


{% block addressdisplay %}
{% endblock addressdisplay %}
<div class="col text-center m-5">

  <form action="{% url 'user_password' %}" method="post"id="changePasswordForm" class="col-lg-10 border-custom rounded p-3 d-flex flex-column align-items-start">
   {% csrf_token %}
    <label  class="form-label" for="old_password">Old Password:</label>
    <input class="form-control custom-input rounded" type="password" id="old_password" name="old_password" required>
    
    <label  class="form-label" for="pass1">New Password:</label>
    <input class="form-control custom-input rounded" type="password" id="pass1" name="pass1" required>
    
    <label class="form-label"  for="pass2">Confirm New Password:</label>
    <input class="form-control custom-input rounded" type="password" id="pass2" name="pass2" required>
    <div class="col text-center mt-2">
    <button type="submit" class="btn-primary btn-sm" >Change Password</button></div>
</form>

</div>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#changePasswordForm').submit(function(e){
            e.preventDefault();
            var oldPassword = $('#old_password').val();
            var pass1 = $('#pass1').val();
            var pass2 = $('#pass2').val();

            $.ajax({
                type: 'POST',
                url: '{% url "user_password" %}',
                data: {
                    old_password: oldPassword,
                    pass1: pass1,
                    pass2: pass2,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    // Password changed successfully
                    alert(response.message);
                },
                error: function(xhr, errmsg, err){
                    // Display error message
                    var errorMessage = JSON.parse(xhr.responseText).error;
                    alert(errorMessage);
                }
            });
        });
    });
</script> -->


{% endblock form %}
