{% extends 'profilebase.html' %}
{% load static %}
{% block profilehead%}<h3>My Wallet</h3>{% endblock profilehead%}
{% block form %}
<style>
    .empty-wallet{
        display: flex;
        justify-content: center;
    }
</style>
{% if transaction %}
<div class="col-lg-12 d-flex justify-content-center mt-5 mb-5"> <div><img src="{% static 'tem_two/img/wallet.png' %}" class=""style="height:200px;">  </div>  </div>

<div class="col-lg-12">
    <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0 d-flex justify-content-between">
            <h4 class="font-weight-semi-bold m-0">ID</h4>
             <h4 class="font-weight-semi-bold m-0">Type</h4>
            <h4 class="font-weight-semi-bold m-0">Date</h4>
            <h4 class="font-weight-semi-bold m-0">Amount</h4>
        </div>

      
        <div class="card-body">
          {% for transact in transaction %}
          {% if transact.transaction_type == 'Refund' %}
            <div class="d-flex justify-content-between ">
                <p>{{transact.id}}</p>
                <p class="pl-5 ml-2">{{transact.transaction_type}}</p>
                <p class="">{{transact.timestamp}}</p>
                <p class="text-success">+{{transact.amount}}</p>
            </div>
            {% else%}
            <div class="d-flex justify-content-between">
                <p>{{transact.id}}</p>
                <p class="pl-5 ml-2">{{transact.transaction_type}}</p>
                <p class="">{{transact.timestamp}}</p>
                <p class=" text-danger">-{{transact.amount}}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% if transaction.has_next %}
   <div class="col d-flex justify-content-center"><a class="btn btn-sm btn-outline-info m-4 font-weight-bold"href="?page={{ transaction.next_page_number }}">Load More</a></div> 
{% endif %}
            <hr class="mt-0">
          
        </div>
        <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Wallet Balance</h5>
                <h5 class="font-weight-bold">{{wallet.balance}}</h5>
            </div>
        </div>
    </div>
    
</div>
{% else %}   
<div class="col empty-wallet"style="height:500px;"><div> <img src="{% static 'tem_two/img/money.png' %}" ></div>

{% endif %}

{% endblock form %}