{% extends 'dashboard.html' %}

{% block userlist %}


<div class="table_data_check">
    <div class="table_head_sec">
        <h2>ALL CATEEGORIES</h2>
    </div>
    <div class="table_filtter">
        <div class="row">
            <div class="col-6">
                <div class="table_row_select">
                    <label for="">Records Per Page :- </label>
                    <select name="" id="" onchange="countTable('table_filter',this.value)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="table_row_search">

                    <input type="text" class="w-100" placeholder="Search">
                </div>
            </div>
        </div>
    </div>

    <div class="table_overflow">
        <table id="table_filter" class="tablenormal">
            <thead>
                <tr>
                    <th class="sort_table_row">Id</th>
                    <th class="sort_table_row">Category Name</th>
                    <th class="sort_table_row">Category dsc</th>
                    <th class="sort_table_row">image </th>
                    <th class="sort_table_row">Published</th>
                    <th>
                        <a href="{% url 'adminapp:addcategory' %}" class="btn btn-outline-dark">
                            <i class="fas fa-plus"></i>Add New
                        </a>
                    </th>
                    <!-- <th>Edit</th>
                    <th>Delete</th> -->
                </tr>
            </thead>
            <tbody>
                {% for cat in category_list %}
               
                <tr>
                    <td>{{cat.id}}</td>
                    <td>{{cat.name}}</td>
                    <td>{{cat.cat_dsc}}</td>
                    <td>{% if cat.cat_img %}
                        <img src="{{cat.cat_img.url}}"alt="image" style="width:80px;">

                        {% else %}
                        No Image

                        {% endif %}


                    </td>
                    <td>{{cat.published}}</td>
                    <td><a href="{% url 'adminapp:update_category' cat.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg text-dark"></i>
                    <a href="{%url 'adminapp:delete_category' cat.id %}" class="btn text-secondary px-0">
                   <!-- {% csrf_token %}
                <button type="submit" class="btn"> -->
                    <i class="far fa-trash-alt text-danger float-right"></i></td>
                <!-- </button>
            </form> -->
                </tr>

               
               {% endfor %} 
            </tbody>
        </table>
    </div>
    <p class="showing_data">Showing 1 to 3 of 3 entries</p>
    <ul class="pagination_table">
        <li><a href="">← Previous</a></li>
        <li><a href="">1</a></li>
        <li><a href="">Next → </a></li>
    </ul>
</div>


 ... (other parts of your template) ...
     
    <script>
        $(document).ready(function () {


            $('#table_filter').DataTable({
                "processing": true,
                "language": {
                    "processing": "DataTables is currently busy"
                },
                paging: true,
                "aaSorting": [
                    [3, 'desc']
                ],
                'aoColumnDefs': [{
                    'bSortable': false,
                    'info': true,
                    "paging": true,
                    'aTargets': [0, 1, 2,],
                    'pageLength': 10
                }]
            });
        })
        
        
    </script>      

{% endblock userlist %}